<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Liste de Vol</h1>

<table border="1">
    <tr>
        <th>id</th>

        <th>VilleDestination</th>
        <th>dateDeDépart</th>
        <th>dateDarrivée</th>


    </tr>


    <tr>  {% for v in vols %} </tr>
    <td>{{ v.id }}</td>
    <td>{{ v.villeDest }}</td>
    <td>{{ v.dateDepart | date('M-d-Y') }}</td>
    <td>{{ v.dateArrive | date('M-d-Y') }}</td>

    {% endfor %}
</table>
</body>
</html>